In [2]:
import pandas as pd
import json
import ast

In [3]:
file = "/Users/laurasuemitsu/Desktop/DATA_FT_May_2025/Final project/Tourism datasets Kaggle/Worldwide_Travel_Cities_Dataset_(Ratings_Climate).csv"

In [4]:
travel_df = pd.read_csv(file)

In [5]:
travel_df

,id,city,country,region,short_description,latitude,longitude,avg_temp_monthly,ideal_durations,budget_level,culture,adventure,nature,beaches,nightlife,cuisine,wellness,urban,seclusion
0,c54acf38-3029-496b-8c7a-8343ad82785c,Milan,Italy,europe,"Chic streets lined with fashion boutiques, his...",45.464194,9.189635,"{""1"":{""avg"":3.7,""max"":7.8,""min"":0.4},""2"":{""avg...","[""Short trip"",""One week""]",Luxury,5,2,2,1,4,5,3,5,2
1,0bd12654-ed64-424e-a044-7bc574bcf078,Yasawa Islands,Fiji,oceania,"Crystal-clear waters, secluded beaches, and vi...",-17.290947,177.125786,"{""1"":{""avg"":28,""max"":30.8,""min"":25.8},""2"":{""av...","[""Long trip"",""One week""]",Luxury,2,4,5,5,2,3,4,1,5
2,73036cda-9134-46fc-a2c6-807782d59dfb,Whistler,Canada,north_america,Snow-capped peaks and lush forests create a se...,50.117190,-122.954302,"{""1"":{""avg"":-2.5,""max"":0.4,""min"":-5.5},""2"":{""a...","[""Short trip"",""Weekend"",""One week""]",Luxury,3,5,5,2,3,3,4,2,4
3,3872c9c0-6b6e-49e1-9743-f46bfe591b86,Guanajuato,Mexico,north_america,Winding cobblestone streets and colorful facad...,20.987700,-101.000000,"{""1"":{""avg"":15.5,""max"":22.8,""min"":8.7},""2"":{""a...","[""Weekend"",""One week"",""Short trip""]",Mid-range,5,3,3,1,3,4,3,4,2
4,e1ebc1b6-8798-422d-847a-22016faff3fd,Surabaya,Indonesia,asia,Bustling streets filled with the aroma of loca...,-7.245972,112.737827,"{""1"":{""avg"":28.1,""max"":32.5,""min"":25.5},""2"":{""...","[""Short trip"",""Weekend""]",Budget,4,3,3,2,3,4,3,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555,778d28df-a4fa-4328-896e-4a9f80216fda,Maun,Botswana,africa,"A gateway to the Okavango Delta, offering a se...",-19.986095,23.422435,"{""1"":{""avg"":26.6,""max"":32,""min"":21.2},""2"":{""av...","[""One week"",""Short trip""]",Mid-range,3,5,5,1,2,3,3,2,4
556,44fb18eb-2641-46ab-b3fa-df6870ba3c74,Gothenburg,Sweden,europe,"A charming city with picturesque canals, lush ...",57.707233,11.967017,"{""1"":{""avg"":1.4,""max"":3.2,""min"":-1.2},""2"":{""av...","[""Weekend"",""One week"",""Short trip""]",Mid-range,4,3,4,3,3,4,3,4,3
557,8c8c7203-2a45-44ba-9fb2-b5158104375e,Manchester,United Kingdom,europe,"Industrial heritage meets modern creativity, w...",53.479489,-2.245115,"{""1"":{""avg"":4.7,""max"":7.1,""min"":2},""2"":{""avg"":...","[""Weekend"",""One week"",""Short trip""]",Mid-range,4,2,2,1,4,4,3,4,2
558,ba72b976-10f9-4415-a818-32cf17d8e649,Copenhagen,Denmark,europe,"Charming canals, vibrant neighborhoods, and a ...",55.686724,12.570072,"{""1"":{""avg"":2.6,""max"":4.2,""min"":0.6},""2"":{""avg...","[""One week"",""Short trip"",""Weekend""]",Mid-range,5,2,3,2,4,4,3,5,2
559,62caf451-c399-4d64-a770-1efd93a603ef,Sucre,Bolivia,south_america,"Whitewashed colonial buildings, vibrant plazas...",-19.047725,-65.259431,"{""1"":{""avg"":15.4,""max"":19.8,""min"":10.2},""2"":{""...","[""Short trip"",""Weekend"",""One week""]",Budget,4,3,3,1,2,3,2,2,4

## *Wrangling duration:*

In [6]:
def wrangling_duration(df):
    df["avg_temp_monthly"] = df["avg_temp_monthly"].apply(json.loads)
    temp_monthly = pd.json_normalize(df["avg_temp_monthly"])
    df = pd.concat([df.drop(columns=["avg_temp_monthly"]), temp_monthly], axis=1)
    
    for n in range(1,13):
        df.drop(columns=[(str(n)) + ".min", (str(n)) + ".max"], inplace=True)

    df["ideal_durations"] = df["ideal_durations"].apply(ast.literal_eval)

    df["ideal_durations"] = df["ideal_durations"].apply(lambda lst: ' '.join(item.strip() for item in lst))

    df["ideal_durations"] = [duration.lower() for duration in df["ideal_durations"].values]
    return df

In [7]:
travel_df = wrangling_duration(travel_df)

## *Wrangling budget*

In [8]:
def wrangling_budget(df):
    df["budget_level"] = [budget.lower() for budget in df["budget_level"].values]
    df["budget_level"] = df["budget_level"].replace({"budget": "economic"})
    return df

In [9]:
travel_df = wrangling_budget(travel_df)

## *Removing months from the final df:*

In [10]:
travel_df_month_test = travel_df

In [11]:
try:
    month = int(input("In which month of the year do you want to go on your trip? Please enter a number between 1 and 12."))
    if month in range(1,13):
        print(month)
    else:
        while month not in range(1,13):
            month = int(input("Please enter a number between 1 and 12."))
        else:
            print(month)
except ValueError:
    month = int(input("Please enter a valid number between 1 and 12."))
    while month not in range(1,13):
        month = int(input("Please enter a number between 1 and 12."))
    else:
        print(month)

10

In [12]:
def remove_months(df):
    months = list(range(1,13))
    no_month_trip = [x for x in months if x != month]
    df = df.drop(columns=[str(x)+".avg" for x in no_month_trip])
    return df

In [13]:
travel_df_month_test = remove_months(travel_df_month_test)

## *Running the functions:*

In [14]:
travel_df = pd.read_csv(file)

In [15]:
df_airports = pd.read_csv("/Users/laurasuemitsu/Desktop/DATA_FT_May_2025/Final project/Notebooks/airports_codes.csv")

In [16]:
def wrangling(df):
    df["avg_temp_monthly"] = df["avg_temp_monthly"].apply(json.loads)
    temp_monthly = pd.json_normalize(df["avg_temp_monthly"])
    df = pd.concat([df.drop(columns=["avg_temp_monthly"]), temp_monthly], axis=1)
    
    for n in range(1,13):
        df.drop(columns=[(str(n)) + ".min", (str(n)) + ".max"], inplace=True)

    df["ideal_durations"] = df["ideal_durations"].apply(ast.literal_eval)
    df["ideal_durations"] = df["ideal_durations"].apply(lambda lst: ' '.join(item.strip() for item in lst))
    df["ideal_durations"] = [duration.lower() for duration in df["ideal_durations"].values]

    df["budget_level"] = [budget.lower() for budget in df["budget_level"].values]
    df["budget_level"] = df["budget_level"].replace({"budget": "economic"})
    
    return df

In [17]:
travel_df = wrangling(travel_df)

In [18]:
def remove_months(df):
    months = list(range(1,13))
    no_month_trip = [x for x in months if x != month]
    df = df.drop(columns=[str(x)+".avg" for x in no_month_trip])
    return df

In [30]:
def filter_df(travel_df):
    """This function will filter the dataset containing the information of 560 cities around the world to provide the user with a ranking based on their preferences."""

    # Valid inputs definition
    valid_durations = {"weekend", "short trip", "one week", "long trip"}
    valid_budgets = {"luxury", "mid-range", "economic"}
    valid_interests = ["urban", "culture", "adventure", "nature", "beaches", "nightlife", "cuisine", "wellness", "seclusion"]
    
    # Ideal duration input
    ideal_duration = input("How long do you want your trip to be: weekend, short trip, one week, or long trip? ").lower()
    while ideal_duration not in valid_durations:
        ideal_duration = input("Please enter one of the following values: weekend, short trip, one week, or long trip. ").lower()

    # Budget level input
    budget_level = input("What is your budget for your trip: luxury, mid-range, or economic? ").lower()
    while budget_level not in valid_budgets:
        budget_level = input("Please enter one of the following values: luxury, mid-range, or economic. ").lower()

    # Month of the trip input
    month = None
    while month not in range(1, 13):
        try:
            month = int(input("In which month of the year do you want to go on your trip? Please enter a number between 1 and 12. "))
        except ValueError:
            print("Please enter a valid number between 1 and 12.")

    # User main interest input
    while True:
        interests_input = input("Select up to three interests (if more than one, comma separated) among: culture, adventure, nature, beaches, nightlife, cuisine, wellness, urban, and seclusion: ").lower().split(", ")
        if all(interest in valid_interests for interest in interests_input) and len(interests_input) <= 3:
            break
        else:
            print("Invalid input. Please make sure to select up to three interests from the given options.")

    # Creating the filtered DataFrame
    try:
        filtered_df = travel_df[(travel_df["ideal_durations"].str.contains(ideal_duration, case=False)) & (travel_df["budget_level"] == budget_level)]

        # Filter out months if function exists
        if 'remove_months' in globals():
            filtered_df = remove_months(filtered_df)

        # Sort by interest columns; make sure column names exist in the DataFrame
        pd.set_option('display.max_colwidth', None)
        interest_columns = [col for col in interests_input if col in travel_df.columns]
        filtered_df = filtered_df.sort_values(by=interest_columns, ascending=False)
        
        # Drop columns
        filtered_df = filtered_df.drop(columns=["id", "region", "latitude", "longitude", "ideal_durations", "budget_level", "culture", "adventure",	"nature", "beaches", "nightlife", "cuisine", "wellness", "urban", "seclusion"], axis=1)
        
        # Show only top 5 cities
        filtered_df = filtered_df[:5]

        # Renaming average temperature month
        column_to_rename = f"{month}.avg"
    
        if column_to_rename not in filtered_df.columns:
            print(f"Column '{column_to_rename}' does not exist.")
        else:
            new_column_name = "avg_temperature(ºC)"
            filtered_df = filtered_df.rename(columns={column_to_rename: new_column_name})

        message = "Here are the top 5 cities where you could go according to your preferences: "

    except Exception as error:
        print(f"Error in filtering: {error}")

    return message, filtered_df

In [20]:
def get_airport_code(city_name, df):
    # Locate the city in the DataFrame
    result = df.loc[df['city'] == city_name, 'IATA']
    return result.iloc[0] if not result.empty else None

In [21]:
df_airports = pd.read_csv("/Users/laurasuemitsu/Desktop/DATA_FT_May_2025/Final project/Notebooks/airports_codes.csv")

In [22]:
def departuring_details():
    while True:
        departure_city = input("Enter the departure city: ")
        departure_code = get_airport_code(departure_city, df_airports)
        if departure_code:
           break
        else:
            print("No airport found in our database. Please enter another city. ")

    while True:
        arrival_city = input("Enter the arrival city: ")
        arrival_code = get_airport_code(arrival_city, df_airports)
        if arrival_code:
            break
        else:
            print("No airport found in our database. Please enter another city. ")

    dep_date_input = input("Enter the departure date (YYYY-MM-DD): ")
    ret_date_input = input("Enter the returning date (YYYY-MM-DD): ")

    return departure_code, arrival_code, dep_date_input, ret_date_input

## *Implementing API*

In [23]:
import requests
import json

In [24]:
def run_API_1 (departure_code, arrival_code, dep_date_input, ret_date_input):
    url = "https://google-flights4.p.rapidapi.com/flights/search-roundtrip"
    headers = {
        "x-rapidapi-key": "ba7cdcaca5mshe733bf910269aafp1b245cjsnef6eeb88a0b5",
	    "x-rapidapi-host": "google-flights4.p.rapidapi.com"
    }

    querystring = {"departureId": departure_code,
    "arrivalId": arrival_code,
    "departureDate": dep_date_input,
    "arrivalDate": ret_date_input}

    response = requests.get(url, headers=headers, params=querystring)

    try:
        response = requests.get(url, headers=headers, params=querystring)
        response.raise_for_status()  # Raises an HTTPError for bad responses

        data = response.json()

        # Optionally process or return the data
        return data

    except requests.exceptions.HTTPError as http_err:
        print(f"HTTP error occurred: {http_err}")
    except Exception as err:
        print(f"An error occurred: {err}")

    return data

In [25]:
def check_airport(departure_code, arrival_code, dep_date_input, ret_date_input):
    if departure_code and arrival_code:
        result = run_API_1(departure_code, arrival_code, dep_date_input, ret_date_input)
        return result
    else:
        print("No airport found in our database. Please restart the app.")

In [26]:
def normalize(row):
    flight_info = pd.json_normalize(row)
    return flight_info

In [27]:
def get_df(API_results):
    data = pd.json_normalize(API_results)
    if len(data['data.topFlights']) < 1:
        print("There are no flights available for these cities and date.")
    else:
        df_0 = normalize(data['data.topFlights'])
        df_1 = normalize(df_0[0])
        df_2 = normalize(df_0[1])
        df_3 = normalize(df_0[2])
        df_4 = pd.concat([df_1, df_2])
        df_5 = pd.concat([df_3, df_4])
        df_6 = df_5.drop(columns=['segments', 'returningToken', 'isCodeShare', 'hasTransit', 'transferAirports', 'fareId', 'metaData', 'baggage', 'airline', 'isAvailable'])
        df_7 = df_6.sort_values(by="price")
        df_7 = df_7.reset_index()
        df_7 = df_7.drop(columns='index')
        return df_7

In [28]:
def choose_flight():
    flight = input("Which flight would you like to choose? Please enter its index (number on the first column of the table): ")
    if flight.isnumeric() == True:
        print('Thank you! Have a great trip.')
    else:
        flight = input("Please, enter the number corresponding to your chosen flight: ")
    return flight

## Welcome! I'm Django, your new companion and tripadvisor.
### Run the cell below and let me help you choose your next vacation destination and also search for a departuring flight.

In [32]:
message, cities_df = filter_df(travel_df)
print(message)
display(cities_df)
departure_code, arrival_code, dep_date, ret_date = departuring_details()
print(departure_code, " - ", arrival_code, " - ", dep_date, " - ", ret_date)

API_result = check_airport(departure_code, arrival_code, dep_date, ret_date)

flights = get_df(API_result)
if flights is None or flights.empty:
    print("Please restart the app.")
else:
    print("Here are the top available flights for your departing trip:")
    display(flights)
    choose_flight()

Here are the top 5 cities where you could go according to your preferences:

,city,country,short_description,avg_temperature(ºC)
426,Bologna,Italy,"Strolling under ancient porticoes, savoring rich aromas of fresh pasta, and enjoying lively piazzas create a warm, welcoming atmosphere.",15.9
99,Thessaloniki,Greece,"Lively waterfronts, aromatic tavernas, and ancient ruins blend seamlessly with a youthful energy that invites exploration and leisurely enjoyment.",17.3
173,Busan,South Korea,"Coastal breezes mix with the scent of street food, while vibrant markets and serene temples create a lively yet calming atmosphere.",18.1
169,Chengdu,China,"A lively blend of spicy street food aromas, lush green parks, and the gentle charm of giant pandas creates an inviting, laid-back atmosphere.",18.4
371,Beijing,China,"A dynamic blend of ancient history and modern innovation, with bustling markets, serene temples, and the aroma of sizzling street food.",13.1

TLS  -  BLQ  -  2025-10-20  -  2025-10-28
Here are the top available flights for your departing trip:

,price,airlineCode,airlineNames,departureAirportCode,departureDate,departureTime,arrivalAirportCode,arrivalDate,arrivalTime,duration,stops
0,271,AF,[Air France],TLS,2025-10-20,20:25,BLQ,2025-10-21,08:50,745,1
1,333,multi,"[Lufthansa, Air Dolomiti]",TLS,2025-10-20,17:55,BLQ,2025-10-20,22:35,280,None
2,422,multi,"[Lufthansa, Air Dolomiti]",TLS,2025-10-20,08:55,BLQ,2025-10-20,12:45,230,None

Thank you! Have a great trip.